<!--
    Notice how this route has a route parameter 'id'. This is how we can pass data to the route.
    See how the links are made in 'PostList.razor'.
-->
@page "/post/{id}"

@using Services;
@using Model;
@inject ApiService apiService

<PageTitle>Areddit</PageTitle>

<style>
    div.contents {
        background-color: #f2f0eb;
        width: 600px;
        border: 2px solid #452d3d;
        padding: 10px;
        margin-top: 20px;
    }

    .info {
        text-decoration: underline;
    }

    .upvote {
        background-color: green;
    }

    .downvote {
        background-color: red;
    }
</style>

@if (Post == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="contents">
        <h4>@Post.Title</h4>
        <p class="info">User: @Post.User</p>
        <p>@Post.Text</p>
        <p>@Post.Date</p>
        <strong>Votes: @Post.Votes</strong>
        <button class="upvote" @onclick="() => UpvotePost(Post.PostId)">Upvote this post</button>
        <button class="downvote" @onclick="() => DownvotePost(Post.PostId)">Downvote this post</button>
    </div>

    <div class="contents">
        <h4>Comments</h4>
        <table>
            <tr>
                <th>User</th>
                <th>Comment</th>
                <th>Date</th>
                <th colspan="3">Votes</th>
            </tr>
            @foreach (var comment in Post.Comments)
            {
                <tr>
                    <td>@comment.CommentUser</td>
                    <td>@comment.CommentText</td>
                    <td>@comment.CommentDate</td>
                    <td><strong>@comment.CommentVotes</strong></td>
                    <td><button class="upvote" @onclick="() => UpvoteComment(comment.CommentId)">Upvote</button></td>
                    <td><button class="downvote" @onclick="() => DownvoteComment(comment.CommentId)">Downvote</button></td>
                </tr>
            }
        </table>
    </div>

    <!-- This demonstrates how to pass in PostId to the component 'CreateComment'. See how
         it is used in the file CreateComment.razor -->
    <CreateComment PostId=@PostId></CreateComment>
}

@code {
    [Parameter]
    public string Id { get; set; }
    public int PostId { get { return int.Parse(Id); } }
    public Post Post { get; set; }

    public Post[] posts = new Post[1];

    protected override async Task OnInitializedAsync()
    {
        Post = await apiService.GetPost(PostId);
        posts = await apiService.GetPosts();
    }

    private async void UpvotePost(long id)
    {
        var updatedPost = await apiService.UpvotePost((int)id);
    }

    private async void DownvotePost(long id)
    {
        var updatedPost = await apiService.DownvotePost((int)id);
    }


    private async void UpvoteComment(long id)
    {
        var updatedComment = await apiService.UpvoteComment((int)id);
    }

    private async void DownvoteComment(long id)
    {
        var updatedComment = await apiService.DownvoteComment((int)id);
    }
}